@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Kanit:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&family=Roboto+Slab:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --cor00: #8200B5;
    --cor01: #F5D800;
    --cor02: #540075;
    --cor03: #B000F5;
    --cor04: #260036;
    --cor05: #9D00DB;

    --fonteprincipal: "Bungee", sans-serif;
    --fontsegundaria: "Roboto Slab", serif;

}
h1{
    background-image: linear-gradient(to bottom, #540075 , #26003698);
    color: var(--cor01);
    text-align: center;
    font-family: var(--fonteprincipal);
    font-size: 3em;
    border: 1px solid rgba(0, 0, 0, 0.014);
    border-radius: 10px;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.123);
    
}
h2, h3{
    color: var(--cor01);
    font-family: var(--fonteprincipal);
    font-size: 1.8em;
    
}
p{
    font-family: var(--fontsegundaria);
    font-size: 1em;
    max-width: 800px;
}
a{
    color: var(--cor01);
    text-decoration: none;
}
a:hover{
    color:var(--cor04);
}
.intro{
    background-image: linear-gradient(to bottom, #B000F5, #260036);
    padding: 80px;
    color: white;
}
.explanation{
    background-color: var(--cor04);
    color: white;
    padding: 10px 80px;
    padding-bottom: 0;
    align-items: center;
    flex-direction: center ;
    justify-content: center;
}
.explanation::after{
    background-image: url(bob-esponja-clipart.png);
    content: " ";
}
.participation{
    padding: 80px;
    color: white;
    background-color: var(--cor04);  
}
.benefits{
    background-image: linear-gradient(to bottom, #260036, #B000F5);
    color: white;
    padding: 80px;
    padding-bottom: 0;
}
.benefits p{
    border: solid rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    padding: 30px 10px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.226);
    min-width: none;
    max-width: 800px; 
}
.requirements{
    background-image: linear-gradient(to bottom, #B000F5, #260036);
    color: white;
    padding: 80px ;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.requirements p {
    border: solid rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    padding: 20px 10px;
    margin: 11px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.226);
    min-width: none;
    max-width: 800px;
}
footer{
    background-color: #260036;
    padding: 20px;
    justify-content: space-around;
    display: flex;
    font-size: 1.3em;
    font-family: var(--fontsegundaria);
    
}
footer a{
    border: 2px solid #8200b54f;
    border-radius: 10px;
    padding: 10px 15px;
    transition: .4s;
   
}
footer a:hover{
    color: darkgray;
    transform: scale(1.1);
    transition: .4s;
}
.sidebar{
    background-image: linear-gradient(to bottom, #B000F5, #260036);
    color: var(--cor04);
    
}
.wrapper{
    background-color: rgb(253, 250, 250);
    border: solid rgba(0, 0, 0, 0.404);
    border-radius: 1px;
    padding: 80px 80px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.226);
    padding-bottom: 50px;
    columns: 2;
}

.sidebar h3{
    color: var(--cor04);
    font-size: 1.8em;
    
}
.sidebar ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    font-size: 1.2em;
}
.sidebar a{
    color: #260036;
}
.sidebar a:hover{
    color: rgb(146, 16, 16);
}

@media screen and (min-width: 300px) and (max-width: 500px){
    h1, h2, h3{
        font-size: 1em;
    }
    p{
        font-size: 0.8em;
    }

    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1em;
        gap: 1rem;
        margin: auto;
    }
    footer a{
        transition: .4s;
        min-width: 250px;
        max-width: 50px;
        margin: auto;
       
    }
    footer a:hover{
        transform: scale(1.1);
        transition: .4s;
    }

    .wrapper {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        background-image: url(https://th.bing.com/th/id/OIP.hfQVAWYgW1f3uFSy-_qWywAAAA?pid=ImgDet&w=269&h=410&rs=1);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .wrapper h3{
        font-size: 1.2em;
    }
    .wrapper ul{
        font-size: 1.2em;
        background-color: rgba(54, 8, 54, 0.466);
        color: white;
        box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.151);
        border-radius: 5px;
        padding: 10px;
    }
    .wrapper a{
        color: white;
    }
}

@media screen and (min-width: 500px) and (max-width: 900px){
    h1, h2, h3{
        font-size: 1.2em;
    }
    p{
        font-size: 1em;
    }
    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1em;
        gap: 1rem;
    }
    footer a{
        transition: .4s;
       
    }
    footer a:hover{
        transform: scale(1.03);
        transition: .4s;
    }
    .wrapper {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        background-image: url(https://th.bing.com/th/id/R.b3591fade9f11468a1ff6cf01f81a125?rik=d%2bdzg8mx1Kfbsg&riu=http%3a%2f%2fresources.ipentec.com%2fdocument%2fimage%2fdesign-2d-draw-standing-poses-a-09&ehk=7UGIeNZjPwWVU14itam%2bC2v0bI4IXtyvrgLjIJI%2bq%2bs%3d&risl=&pid=ImgRaw&r=0);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .wrapper ul{
        font-size: 1.2em;
        background-color: rgba(54, 8, 54, 0.466);
        color: white;
        box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.199);
        border-radius: 5px;
        padding: 10px;
    }
    .wrapper a{
        color: white;
    }
}
